/* Importing the other css files */
/* @import url('./card.css'); */

/* ====================================================
Fonts settigns
----------------------------------------------------
Fonts: Roboto, Playwrite
==================================================== */
@import url('./font-faces.css');

/* ====================================================
   Global variables
   ----------------------------------------------------
  fonts, clrs, bgs
   ==================================================== */
@import url('./root-variables.css');

/* ====================================================
   CSS Boilerplate
   ----------------------------------------------------
   A modern, responsive, and accessible starter kit.
   ==================================================== */
@import url('./css-boilerplate.css');
/* ====================================================
   Actual styles
   ----------------------------------------------------
   ==================================================== */

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: var(--font-roboto);
  display: grid;
  grid-template-areas:
    "navbar main"
    "footer footer";
  grid-template-columns: 25vw 1fr;
  grid-template-rows: 1fr auto;
  background-color: var(--color-background);
}

/* ----------------------------------------------------
    Header styles 
  ---------------------------------------------------- */
header {
  grid-area: 1 / 1 / 2 / 2;
  max-width: 100%;
  min-height: 100%;
  /* position: fixed; */
  /* position: relative; */
  /* left: 0; */
  /* top: 0; */
  overflow-wrap: break-word;
  flex-wrap: wrap;
  white-space: normal;
  background-color: var(--color-background);
  box-shadow: 0 .2rem .8rem 0px var(--color-muted);
}

.logo {
  display: inline-block;
}

nav,
.nav-links {
  display: flex;
  flex-direction: column;
  align-content: start;
  margin-top: 1.2rem;
  margin-inline: 1rem;
  flex-wrap: wrap;
}

nav {
  position: fixed;
  z-index: 999;
}

.open-close {
  height: 2rem;

  display: none;

}

.nav-links li {
  margin-block: .6rem;
  /* text-align: center; */
}

.social-links {
  /* width: 80%; */
  margin-top: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links a img {
  height: 2.4rem;
  margin-right: .6rem;
  border-radius: 100%;
  padding: .2rem;
  border: 2px solid #000;
  /* background-color: red; */
}

/* ----------------------------------------------------
    Main styles 
  ---------------------------------------------------- */

main {
  grid-area: 1 / 2 / 2 / 3;
  width: 90%;
  margin: 0 auto;
}

/* Hero Styles */
.hero-section {
  min-height: 90vh;
  /* background-color: red; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#name {
  font-family: var(--font-play);
  /* color: var(--color-accent); */
  animation: colorCycle 4s infinite linear;
  text-wrap: nowrap;
}

@keyframes colorCycle {
  0% {
    color: #e74c3c;
  }

  25% {
    color: #3498db;
  }

  50% {
    color: #27ae60;
  }

  75% {
    color: #f1c40f;
  }

  100% {
    color: #e74c3c;
  }
}

.arrow {
  margin-top: 2rem;
  height: 2.8rem;
  animation: arrowBounce 2s ease-in-out infinite;
}

@keyframes arrowBounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

/* Project Section Styles */
.projects-section {
  min-height: 90vh;
}

.projects-section h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2.4rem;
  border-bottom: 2px wavy blue;
}

.projects-section summary {
  font-size: 1.6rem;
  cursor: pointer;
}

.project-section-name {
  margin-block: 1rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
  /* align-items: stretch; */
  /* gap: 1rem 1.5rem; */
  /* column-gap: 1.5rem; */
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 1 calc(50% - 1rem);
  /* 0 grow, 1 shrink, and a basis of 50% minus the gap */
  padding: 1.2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 0.4rem 0px var(--color-muted)
}

.card iframe {
  /* height: fit-content; */
  margin-block-end: 1.6rem;
  border-radius: 1rem;
  border: none;
}

.project-name {
  color: var(--color-text);
}

.card .project-about {
  color: var(--color-muted);
  padding-block: .8rem;
  line-height: 1.3rem;
}

.card>p {
  padding-block: .2rem;
  /* line-height: 0; */
}

.card .btns {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  gap: 1rem;
  margin-top: auto;
}

.card .btn {
  display: inline-flex;
  /* width: fit-content; */
  background-color: var(--color-primary);
  color: var(--color-surface);
  cursor: pointer;
  font-size: 1rem;
  padding: .8em 1em;
  border-radius: 25% 10%;
  border: none;
}

.card .btn-icon {
  height: 1.5rem;
}

.card .btn img {
  margin-left: 0.6em;
}


/* 
====================================================
   Media Query styles
----------------------------------------------------
====================================================
 */
/* Tablet size */
@media screen and (max-width: 880px) {
  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  header {
    display: flex;
    justify-content: center;
    box-shadow: none;
    min-height: auto;
  }

  nav {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 100%; */
    /* align-items: center; */
    border: 2px solid var(--color-muted);
    border-radius: 25px;
    justify-content: space-between;
    margin: 1rem 1.4rem;
    padding: .6rem 1.8rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* filter: blur(2px); */
  }

  .nav-links {
    /* width: 90%; */
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    margin: 0;
  }

  .li-links {
    display: flex;
    flex-basis: 45%;
    border-right: 2px solid black;
  }

  .li-links>* {
    margin-left: 1.6rem;
    padding-bottom: 0;
  }

  .nav-links .nav-toggle {
    display: none;
  }

  .social-links {
    margin-top: 0;
  }

  .hero-section {
    min-height: 100vh;
    text-align: center;
  }

  .projects-section {
    min-height: 80vh;
    margin: auto;
  }
}

@media screen and (max-width: 740px) {
  body {
    position: relative;
    min-height: 100svh;
  }

  header {
    width: 100%;
    margin-inline: .4rem;
    margin: 0 auto;
  }

  nav {
    width: 98%;
    align-items: center;
    margin-block: .2rem;
  }

  .nav-links {
    flex-direction: column;
    justify-content: start;
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-block-start: 5%;
    padding-inline-end: 15%;
    transform: translateX(110%);
    transition: transform 0.3s ease-in-out;
    backdrop-filter: blur(100px);
    background-color: var(--color-background);
    box-shadow: 0 .2rem .8rem 0px var(--color-muted);
    z-index: 888;
  }

  .nav-links.active {
    transform: translateX(0);
  }

  .nav-links .nav-toggle {
    /* align-self: baseline; */
    display: block;
    align-self: flex-end;
  }

  .li-links {
    display: flex;
    width: 100%;
    flex-basis: unset;
    flex-direction: column;
    border-right: none;
    margin-inline-start: 1rem;
    padding-bottom: .4rem;
    border-bottom: 2px solid black;
  }

  .nav-links .social-links {
    margin-top: .8rem;
    margin-left: 1rem;
    width: 100%;
  }

  .open-close {
    display: block;
  }

  .close-icon {
    margin-bottom: .8rem;
    transform: rotate(180deg);
  }
}